<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salomon</title>
    <link rel="icon" href="img/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <section class="sleepMode_view">
        <span class="sleepMode_text">Mode vielle</span>
    </section>
    <section class="race">
        <div id="mapRelief" class="race_mapRelief"></div>
        <div id="mapCourse" class="race_mapCourse"></div>
    </section>
    <script src="../js/app.js"></script>
</body>
</html>