<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salomon</title>
    <link rel="icon" href="img/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body> <!-- onselectstart="return false" oncontextmenu="return false" ondragstart="return false" -->
    <section class="sleepMode_view view">
        <span class="sleepMode_text">Mode vielle</span>
    </section>
    <section id="startView" class="start_view view">
        <span class="h3">Cliquez pour<br>commencer l'éxperience</span>
    </section>
    <section id="raceView" class="race_view view">
        <div class="race-top race_section" style="background-color: #e0e0e0;">
            <div id="mapRelief" class="race_mapRelief mapRelief"></div>
        </div>
        <div class="race-left race_section" style="background-color: #f5f5f5;">
            <div id="gauge" class="race_gauge gauge"></div>
        </div>
        <div class="race-right race_section" style="background-color: #f5f5f5;">
            <div id="mapCourse" class="race_mapCourse mapCourse"></div>
        </div>
        <div class="race-center">
            <div id="steps" class="race_steps steps"></div>
        </div>
        <div class="race-bottom race_section" style="background-color: #e0e0e0;">
            <div id="timer" class="race_timer timer"></div>
        </div>
    </section>
    <section id="endView" class="end_view view">
        <p>Vous avez fini <span id="scoreUser"></span></p>
        <ul id="scores"></ul>
    </section>
    <section id="infosView" class="view"></section>
    <footer>
        <button id="simulateMovement">Simuler un mouvement</button>
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>