.moduleNext {
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  .nextView {
    position: absolute;
    bottom:100px;
    right:100px;
    overflow: visible;
    width:50px;
    height:50px;
    stroke-width: 4px;
    stroke-dashoffset: -167;
    stroke-dasharray: 167;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    #nextViewTime {
      -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
    }
    &--active {
      stroke-dashoffset: -331;
    }
  }
}
.transtionView {
  position: absolute;
  left:0;
  z-index:19;
  top:0;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0%);
  background : linear-gradient(90deg, rgba(9, 192, 221, 1) 0%, rgba(13, 193, 218, 1) 14.79%, rgba(26, 194, 211, 1) 30.13%, rgba(46, 197, 198, 1) 45.71%, rgba(75, 201, 180, 1) 61.48%, rgba(113, 205, 157, 1) 77.38%, rgba(158, 211, 129, 1) 93.17%, rgba(180, 214, 115, 1) 100%);
  -webkit-transition: all 1.4s ease;
  -moz-transition: all 1.4s ease;
  -ms-transition: all 1.4s ease;
  -o-transition: all 1.4s ease;
  transition: all 1.4s ease;
}