.race{
  &_view{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 22.5% 55% 22.5%;
    grid-template-rows: 22.5% 55% 22.5%;

    #speed, #denivele {
      width:13%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
    }
    #mapRelief {
      display: flex;
      align-items: center;
      justify-content: center;
      svg, img {
        flex:1;
      }
    }
    .race-top_indication {
      width:110px;
      height:110px;
      border:1px solid #FFF;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:26px;
      &#denivele__number {
        flex-flow: column;
      }
      #denivele__arrow {
        height: 21px;
        width: 30px;
        background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2023.51%2016.6%22%3E%3Ctitle%3EFichier%203%3C/title%3E%3Cg%20id%3D%22Calque_2%22%20data-name%3D%22Calque%202%22%3E%3Cg%20id%3D%22Interface%22%3E%3Cpolyline%20points%3D%2214.98%200.23%2023.05%208.3%2014.98%2016.37%22%20style%3D%22fill%3Anone%3Bstroke%3A%23fff%3Bstroke-miterlimit%3A10%3Bstroke-width%3A0.649999976158142px%22/%3E%3Cline%20x1%3D%2223.05%22%20y1%3D%228.3%22%20y2%3D%228.3%22%20style%3D%22fill%3Anone%3Bstroke%3A%23fff%3Bstroke-miterlimit%3A10%3Bstroke-width%3A0.649999976158142px%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        -ms-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        will-change: transform;
      }
    }

  }
  &_section{
    position: relative;
  }
  &-top{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    &_mapRelief{
      width: calc(100% - 26%);
      height:100%;
    }
  }
  &-bottom{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &_timer{
      margin:0px 20px;
      width: 100%;
      height: 8px;
      border:1px solid #FFF;
      border-radius:3px;
      position: relative;
      overflow: hidden;
      &_level {
        position: absolute;
        z-index:-1;
        width:100%;
        height:7px;
        background : -moz-linear-gradient(0% 50% 0deg,rgba(9, 192, 221, 1) 0%,rgba(13, 193, 218, 1) 14.79%,rgba(26, 194, 211, 1) 30.13%,rgba(46, 197, 198, 1) 45.71%,rgba(75, 201, 180, 1) 61.48%,rgba(113, 205, 157, 1) 77.38%,rgba(158, 211, 129, 1) 93.17%,rgba(180, 214, 115, 1) 100%);
        background : -webkit-linear-gradient(0deg, rgba(9, 192, 221, 1) 0%, rgba(13, 193, 218, 1) 14.79%, rgba(26, 194, 211, 1) 30.13%, rgba(46, 197, 198, 1) 45.71%, rgba(75, 201, 180, 1) 61.48%, rgba(113, 205, 157, 1) 77.38%, rgba(158, 211, 129, 1) 93.17%, rgba(180, 214, 115, 1) 100%);
        background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(9, 192, 221, 1) ),color-stop(0.1479,rgba(13, 193, 218, 1) ),color-stop(0.3013,rgba(26, 194, 211, 1) ),color-stop(0.4571,rgba(46, 197, 198, 1) ),color-stop(0.6148,rgba(75, 201, 180, 1) ),color-stop(0.7738,rgba(113, 205, 157, 1) ),color-stop(0.9317,rgba(158, 211, 129, 1) ),color-stop(1,rgba(180, 214, 115, 1) ));
        background : -o-linear-gradient(0deg, rgba(9, 192, 221, 1) 0%, rgba(13, 193, 218, 1) 14.79%, rgba(26, 194, 211, 1) 30.13%, rgba(46, 197, 198, 1) 45.71%, rgba(75, 201, 180, 1) 61.48%, rgba(113, 205, 157, 1) 77.38%, rgba(158, 211, 129, 1) 93.17%, rgba(180, 214, 115, 1) 100%);
        background : -ms-linear-gradient(0deg, rgba(9, 192, 221, 1) 0%, rgba(13, 193, 218, 1) 14.79%, rgba(26, 194, 211, 1) 30.13%, rgba(46, 197, 198, 1) 45.71%, rgba(75, 201, 180, 1) 61.48%, rgba(113, 205, 157, 1) 77.38%, rgba(158, 211, 129, 1) 93.17%, rgba(180, 214, 115, 1) 100%);
        background : linear-gradient(90deg, rgba(9, 192, 221, 1) 0%, rgba(13, 193, 218, 1) 14.79%, rgba(26, 194, 211, 1) 30.13%, rgba(46, 197, 198, 1) 45.71%, rgba(75, 201, 180, 1) 61.48%, rgba(113, 205, 157, 1) 77.38%, rgba(158, 211, 129, 1) 93.17%, rgba(180, 214, 115, 1) 100%);
      }

    }
  }
  &-left{
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    &_gauge{
      position: absolute;
      left: 50%;
      bottom: 20px;
      width: 80%;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      border: solid white 1px;
      transform: translateX(-50%);
    }
  }
  &-right{
    grid-column: 3 / span 1;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: center;
    &_infos{

    }
    &_mapCourse{
      background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20280.32%20239.26%22%3E%3Ctitle%3EFichier%201%3C/title%3E%3Cg%20id%3D%22Calque_2%22%20data-name%3D%22Calque%202%22%3E%3Cg%20id%3D%22Interface%22%3E%3Cg%20id%3D%22Map_course_4%22%20data-name%3D%22Map%20course%204%22%3E%3Cpath%20d%3D%22M161.32.1a119.54%2C119.54%2C0%2C0%2C1%2C27.87%2C3.29l.12%2C0V3.27a119.32%2C119.32%2C0%2C0%2C1%2C66.28%2C43.1l-.08.06.06.08a118%2C118%2C0%2C0%2C1%2C24.55%2C67.4l0%2C.92%2C0%2C.92c0%2C.28%2C0%2C.56%2C0%2C.83%2C0%2C.74%2C0%2C1.49%2C0%2C2.24%2C0%2C1%2C0%2C2.07%2C0%2C3.08a118.86%2C118.86%2C0%2C0%2C1-190.5%2C92l-.09-.07-.06.1A47.49%2C47.49%2C0%2C1%2C1%2C45%2C144.26h.11l0-.11A119.19%2C119.19%2C0%2C0%2C1%2C58.17%2C59.82c1.14-2%2C2.12-3.58%2C3.07-5.06A118.82%2C118.82%2C0%2C0%2C1%2C161.32.1m0-.1A118.91%2C118.91%2C0%2C0%2C0%2C61.16%2C54.71c-1.07%2C1.65-2.09%2C3.35-3.08%2C5.06A119.33%2C119.33%2C0%2C0%2C0%2C45%2C144.16%2C47.59%2C47.59%2C0%2C1%2C0%2C89.62%2C214%2C119%2C119%2C0%2C0%2C0%2C280.28%2C121.9c0-1%2C0-2.05%2C0-3.08%2C0-.75%2C0-1.5%2C0-2.24%2C0-.27%2C0-.55%2C0-.83l-.06-1.84a118.41%2C118.41%2C0%2C0%2C0-24.57-67.46l.09-.05A119%2C119%2C0%2C0%2C0%2C189.23%2C3.15a.78.78%2C0%2C0%2C0%2C0%2C.14A119.28%2C119.28%2C0%2C0%2C0%2C161.32%2C0Z%22%20style%3D%22fill%3A%23fff%22/%3E%3Cpath%20d%3D%22M47.61%2C158.22a33.34%2C33.34%2C0%2C0%2C1%2C15.61%2C3.86A106.58%2C106.58%2C0%2C0%2C0%2C81%2C189.91c0%2C.58%2C0%2C1.18%2C0%2C1.77a33.46%2C33.46%2C0%2C1%2C1-33.46-33.46m0-.5a34%2C34%2C0%2C1%2C0%2C34%2C34c0-.66%2C0-1.32-.06-2a106.21%2C106.21%2C0%2C0%2C1-17.91-28%2C33.66%2C33.66%2C0%2C0%2C0-16-4Z%22%20style%3D%22fill%3A%23fff%22/%3E%3Cpath%20d%3D%22M267.94%2C119A106.63%2C106.63%2C0%2C1%2C1%2C161.31%2C12.38%2C106.63%2C106.63%2C0%2C0%2C1%2C267.94%2C119Z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23fff%3Bstroke-miterlimit%3A10%22/%3E%3Cpath%20d%3D%22M161.32%2C23a96%2C96%2C0%2C0%2C1%2C37.35%2C184.37A96%2C96%2C0%2C0%2C1%2C124%2C30.59%2C95.26%2C95.26%2C0%2C0%2C1%2C161.32%2C23m0-.1A96.06%2C96.06%2C0%2C1%2C0%2C257.37%2C119a96.05%2C96.05%2C0%2C0%2C0-96.05-96.06Z%22%20style%3D%22fill%3A%23fff%22/%3E%3Crect%20x%3D%22159.09%22%20y%3D%2210.15%22%20width%3D%224.45%22%20height%3D%224.45%22%20transform%3D%22translate%2856%20-110.45%29%20rotate%2845%29%22%20style%3D%22stroke%3A%23fff%3Bstroke-miterlimit%3A10%22/%3E%3Crect%20x%3D%22159.09%22%20y%3D%22223.4%22%20width%3D%224.45%22%20height%3D%224.45%22%20transform%3D%22translate%28206.79%20-47.98%29%20rotate%2845%29%22%20style%3D%22stroke%3A%23fff%3Bstroke-miterlimit%3A10%22/%3E%3Crect%20x%3D%22265.72%22%20y%3D%22116.77%22%20width%3D%224.45%22%20height%3D%224.45%22%20transform%3D%22translate%28541.55%2013.68%29%20rotate%28135%29%22%20style%3D%22stroke%3A%23fff%3Bstroke-miterlimit%3A10%22/%3E%3Crect%20x%3D%2252.46%22%20y%3D%22116.77%22%20width%3D%224.45%22%20height%3D%224.45%22%20transform%3D%22translate%28177.51%20164.47%29%20rotate%28135%29%22%20style%3D%22stroke%3A%23fff%3Bstroke-miterlimit%3A10%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
      background-repeat:no-repeat;
      position: absolute;
      bottom: 0;
      width: calc(100% - 60px);
    }
  }
  &-center{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}